{
  "presets": [
    "next/babel",
    "env"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "inline-react-svg"
    ],
    [
      "transform-flow-strip-types"
    ]
  ],
  "retainLines": true
}